<%- model_class = Book -%>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
    </div>
    <div class="panel-body">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
