a:focus {
	outline: medium none;
}
/*
.error{
	color: #a21f1f;
	font-size: 12px;
	font-weight: normal;
}*/

.padding-0{
	padding: 0px;
}
.padding-left-0{
	padding-left: 0px;
}
.padding-right-0{
	padding-right: 0px;
}
.color-black{
	color: #000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: #ffffff;
}
body > .container-fluid {
  padding: 60px 15px 0;
}
.container-fluid .text-muted {
  margin: 20px 0;
  color: #ffffff;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
